.boxo{
    margin-left:34.5%;
    width:30%;
    height:120px;
    text-align: center;
}
.input{
    margin-top: 4%;
    width:70%;
    height:25px;
    border:1px solid black;
    border-radius:10px;
    outline:none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.b1{
    margin-top: 5%;
    width:40%;
    height:30px;
    border:1px solid black;
    border-radius:10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    outline:none;
    
}
.b1:hover{
    background-color: slateblue;
    color:white;
    width:55%;
    transition:  900ms;
}
